html, body {
	margin:0;
	padding:0;
	font-family:'Ubuntu Mono', "Courier New", Courier, monospace;
	font-size:12px;
	line-height:100%;
	background:#fff;
	color:#000;
}
.ln {
	display:block;
	padding:2px;
}